// fonts
$font-principal: verdana;
$font-footer: tahoma grey;

// font colors
$fontcolor-section1: whitesmoke;
$fontcolor-section2: black;


// background colors
$backgroundcolor-section1: #64a4e3;
$backgroundcolor-section2: white;
$backgroundcolor-header-footer: black;
