.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
    color: var(--color-footer);
    font-family: var(--font-footer);
}
.footer_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 30%;
    gap: 20px;
}