// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-section-1: whitesmoke;
    --font-section-1: verdana;
    --color-footer: grey;
    --font-footer: tahoma;
    font-size: 62.5%;
}
.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
}
.image {
    width: 16%;
}
.logo {
    width: 100%;
}
.menu {
    color: var(--color-section-1);
    align-items: center;
    display: flex;
    margin: 20px;
    width: 60%;
}
.menu_items {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menu_li {
    display: inline;
    color: white;
    font-size: 2rem;
} 
.section_1 {
    background-color: #64a4e3;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-image: url("../images/premium_dancer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45vh;
}

.dancer {
     position: relative;
     left: 700px;
     width: 600px;
     order: 2;
     display: inline-block;
    
}
h1 {
    color: var(--color-section-1);
    font: var(--font-section-1);
    font-size: 12rem;
}
h3 {
    color: var(--color-section-1);
    font: var(--font-section-1);
    font-size: 4rem;
}

.section_1_text {
    justify-content: flex-start;
    order: 1;

}
.a_section_1 {
    color: var(--color-section-1);
    font: var(--font-section-1);
    font-size: 2rem;
}
.p_section_1 {
    color: var(--color-section-1);
    font: var(--font-section-1);
    font-size: 1.5rem;
}
.section_2_box {
    display: flex;
    flex-direction: row;
    width: 50vw;
}
.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
    color: var(--color-footer);
    font-family: var(--font-footer);
}
.footer_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 30%;
    gap: 20px;
}

.section_2_box {
    display: flex;
    flex-direction: row; 
}

.section_2_box_1 {
    width: 50vw;
}
